.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: white;
    margin: 0px;
    border-radius: 8px;
  }
  
  .card-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  